{% extends "layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block main %}
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ symbol["symbol"] }}</td>
                    <td>{{ symbol["name"] }}</td>
                    <td>{{ symbol["price"] | usd }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}